.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.usersWrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, auto));
}

.userCard {
  margin: 4px;
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 8px;
}

.userCard:hover {
  background-color: lightgrey;
  color: white;
}

.form {
  height: 100px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
