.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.usersWrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, auto));
}

.userCard {
  margin: 4px;
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 8px;
  overflow: hidden;
}

.selected {
  background-color: black;
  color: #fff;
}

.userCard:hover {
  background-color: black;
  color: white;
}

.form {
  height: 100px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.appButton {
  align-self: center;
  width: 100px;
  padding: 10px;
}

.postCard {
  overflow: hidden;
  max-width: 200px;
  margin-top: 0px;
  border-top: 1px solid lightgrey;
}

.postCard p {
  text-align: center;
  align-self: center;
  margin-bottom: 0px;
}

.postCard:hover {
  cursor: pointer;
  background-color: lightslategray;
  color: white;
}

.posts {
  display: grid;
  grid-template-columns: repeat(2, auto);
}
