.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header {
  width: 100%;
  min-height: 40px;
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 200px;
  padding-right: 200px;
}

.usersWrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, auto));
}

.userCard {
  margin: 4px;
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 8px;
  overflow: hidden;
}

.selected {
  background-color: black;
  color: #fff;
}

.userCard:hover {
  background-color: lightgrey;
  color: black;
}

.form {
  height: 100px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.appButton {
  align-self: center;
  width: 100px;
  padding: 10px;
}

.postsWrap {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.postCard {
  overflow: hidden;
  max-width: 200px;
  margin-top: 0px;
  border: 1px solid lightgrey;
}

.postCard p {
  text-align: center;
  align-self: center;
}

.postCard:hover {
  cursor: pointer;
  background-color: lightslategray;
  color: white;
}

.posts {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.data {
  text-align: end;
}
